@import "main.css";

main {
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 55%;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section h3 {
    align-self: flex-start;
}

.row {
    padding: 3rem;
    gap: 1rem;
}

.hero {
    background: url("../media/2020_kirby_documentation/2020_sub_kirby.jpg") center;
    background-size: cover;
}

#empoleon_hero {
    background: url("../media/2023_gyarados_media/piplup_render_1_F.png") center;
    background-size: cover;
}

.section_title {
    font-weight: bolder;
    padding: 0;
    font-size: 2.2rem;
    background: none;
    margin-bottom: 2rem;
}

.section_hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

.colored_section > .section_title:hover {
    color: var(--text);
}

.colored_section p, .colored_section h2, .colored_section h3 {
    color: var(--text);
}

.section_hero > img {
    width: 75%;
}

.sub_section_text {
    width: 92%;
    color: var(--text_inverted);
}

.colored_text {
    color: var(--text);
}

.themed_text {
    color: var(--theme);
}

.figure_row {
    width: 100%;
    padding: 0;
}

.figure_row .row_figure {
    max-width: 45%;
}

.figure_row .row_figure > img {
    height: 100%;
}

.row_figure img {
    width: 100%;
}

.image_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.image_row img {
    width: 100%;
    height: 100%;
}

.image_row .row_figure {
    width: 40%;
}

.triple_figure .row_figure {
    width: 30%;
}