@import "main.css";

main {
    width: 100%;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section {
    width: 55%;
    height: fit-content;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--background_mono_dark);
}

li {
    color: white;
}

section h3, section h2 {
    align-self: flex-start;
}

.row {
    padding: 0;
    gap: 1rem;
}

.hero {
    background: url("../media/2020_kirby_documentation/2020_sub_kirby.jpg") center;
    background-size: cover;
}

#auv_type_x {
    background: url("../media/2025_type_x_media/type_x_promoted_at_stand.jpg") center 70%;
    background-size: cover;
}

#overview {
    background: none;
    text-align: center;
}

#documentation_card {
    width: 100%;
}

.documentation_card {
    width: 100%;
    background: var(--background_mono_dark);
    border-radius: 1rem;
    flex-grow: 1;
    padding: .5rem 1rem;
    border: 2px solid var(--background_mono);
    box-shadow: var(--background_mono) 2px 3px 5px;
}

.documentation_card label {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--text_inverted);
}

.documentation_card p {
    color: var(--background_main);
}

.documentation_card > p {
    margin: 5px;
    padding: 0;
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--theme);
}

.documentation_card > * {
    color: var(--background_main);
}


.documentation_card_details {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;
}

.documentation_card_details * {
    margin: 0;
    padding: 0;
}

.section_title {
    font-weight: bolder;
    padding: 0;
    font-size: 2.2rem;
    background: none;
    margin-bottom: 2rem;
}

.section_hero {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}

.colored_section > .section_title:hover {
    color: var(--text);
}

.colored_section p, .colored_section h2, .colored_section h3 {
    color: var(--text);
}

.section_hero > img {
    width: 75%;
}

.sub_section_text {
    width: 92%;
    color: var(--text_inverted);
}

.colored_text {
    color: var(--text);
}

.themed_text {
    color: var(--theme);
}

.figure_row {
    width: 100%;
    padding: 0;
}

.figure_row .row_figure {
    max-width: 45%;
}

.figure_row .row_figure > img {
    height: 100%;
}

.row_figure img {
    width: 100%;
}

#auv_type_x_front {
    width: 50%;
}

.image_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.image_row img {
    width: 100%;
    height: 100%;
}

.image_row .row_figure {
    width: 40%;
}

.triple_figure .row_figure {
    width: 30%;
}