:root {
    overflow-x: hidden;
    font-family: Tahoma, serif;

    --background_main: #ffffff;
    --background_secondary: #F5B400;
    --background_mono: #6B6B6C;
    --theme: #E2A300;
    --theme_visible: rgba(255, 198, 41, 0.85);
    --accent: #2962FF;
    --header: #2d2926;
    --text: #000000;
    --mono_back: #101112;
    --text_inverted: #C7C6C7;
    --navbar_height: 5rem;
    --navbar_expanded: 8rem;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

section {
    position: relative;
    padding: 2rem 0;
    overflow: hidden;
}

header, body, footer {
    background: var(--background_mono);
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 3;
    background: none;
    height: var(--navbar_height);
    overflow: hidden;
    transition: 400ms;
}

#header.show {
    height: var(--navbar_expanded);
}

header iframe {
    position: relative;
    width: 100%;
    height: 100%;
    border: none;
    overflow: hidden;
    z-index: +4;
}


footer {
    background: url("../media/ksu_background.jpg");
    background-size: cover;
    height: fit-content;
    display: flex;
    padding: 0 3rem;
    justify-content: space-between;
    align-items: center;
    border-top: solid 2px var(--text_inverted);
}
footer h2 {
    margin: 0;
    padding: 0;
}

hr {
    height: 2px;
    background-color: var(--text_inverted);
    width: 100%;
    border: none;
    margin: 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h1, h2, button, h3, label {
    color: white;
}

p, a, ul, li {
    color: var(--text);
    font-size: 1.2rem;
}

nav {
    position: absolute;
    left: 0;
    bottom: 3rem;
    /*transform: translateY(2.9rem);*/
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    background: var(--theme);
    padding: 0 1rem;
    height: 3rem;
    transition: 400ms;
    z-index: +1;
}

nav a {
    margin: 0 .5rem;
    font-size: 1.1rem;
    position: relative;
    font-weight: bold;
    color: var(--text);
    text-decoration: none;
}

nav a:before {
    position: absolute;
    bottom: 0;
    left: 50%;
    content: "";
    width: 0;
    height: 2px;
    background: var(--text);
    transition: .5s;
}

nav a:after {
    position: absolute;
    bottom: 0;
    right: 50%;
    content: "";
    width: 0;
    height: 2px;
    background: var(--text);
    transition: .5s;
}

nav a:hover::before, nav a:hover::after {
    width: 50%;
}

nav a.active::before, nav a.active::after, #doc_link.go::before, #doc_link.go::after {
    width: 50%;
}

button {
    cursor: pointer;
    background: var(--text);
    border: none;
    font-weight: bold;
    padding: .5rem 1rem;
    border-radius: 5px;
    transition: .3s;
}

button:hover {
    color: var(--theme);
}

input {
    height: 1rem;
    border-radius: .5rem;
    padding: .5rem;
}

code {
    background: var(--mono_back);
    padding: .5rem;
    color: var(--text_inverted);
    border-radius: .5rem;
}

img {
    border-radius: 1rem;
}

::-webkit-scrollbar {
    width: .5rem;
}

::-webkit-scrollbar-track {
    background: var(--mono_back);
}

::-webkit-scrollbar-thumb {
    background: var(--background_secondary);
    border-radius: 0 0 1rem 1rem;
}