@import 'base.css';


body {
    background: var(--mono_back);
}

.dialog {
    display: none;
}

.search_dialog {
    background: var(--mono_back);
    padding: 1rem;
    width: 75vw;
    min-height: 75vh;
    height: fit-content;
    border-radius: 1rem;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: +5;
}

#header_container {
    display: block;
    height: 4rem;
}

.graphic_nav {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    padding: 0 1rem;
    background-image: url("../media/team_banner.png");
    background-position: 0 50%;
    background-size: cover;
    height: 4rem;
    z-index: +2;
}

#nav.show {
    transform: translateY(3rem); /* Move the content down by 2.9rem when 'show' class is applied */
}

#menu_button {
    padding: 0;
    background: none;
    height: 70%;
    aspect-ratio: 1;
}

#hamburger_menu {
    cursor: pointer;
    height: 100%;
    aspect-ratio: 1;
}


.header_home_icon {
    border-radius: .5rem;
    background: var(--mono_back);
    height: 85%;
}

.header_icon {
    height: 100%;
}

.footer_img {
    height: 100%;
    max-height: 14vh;
}

.footer_text {
    color: var(--text_inverted)
}

.footer_contact {
    text-align: center;
}

.footer_link_svg {
    padding: 0;
    margin: 0;
    transition: .4s;
}

.footer_link_svg:hover {
    scale: 1.15;
}

.footer_link_svg svg, .footer_link_svg img {
    object-fit: cover;
    width: 3rem;
    aspect-ratio: 1;
}

.footer_social {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.social_links {
    display: flex;
    justify-content: space-evenly;
}

.hero {
    position: relative;
    aspect-ratio: 3/1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-bottom: solid 2px var(--text_inverted);
}

.hero div {
    width: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(10,10,10,.8);
}

.hero p { /*temporary*/
    color: white;
    text-align: center;
}

.flex-spacer {
    flex-grow: 1;
}

.half_spacer {
    flex-grow: .25;
}

.row {
    padding: 2rem 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.row_content {
    width: 50%;
}

.row_figure {
    width: fit-content;
    display: flex;
    flex-direction: column;
}

.figure_caption {
    padding: 0;
    margin: 0;
    text-align: center;
    color: var(--background_mono);
}

.column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.button_row {
    border-top:  solid 1px var(--background_mono);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1rem;
}

.radio_row {
    display: flex;
    align-items: center;
}

.text_centered {
    text-align: center;
}

.text_righted {
    text-align: right;
}

.text_inverted {
    color: var(--text_inverted);
}

.text_dark {
    color: var(--text);
}

.underlined {
    text-decoration: solid underline 2px var(--theme);
    text-underline-offset: 4px;
}

.underlined_dark {
    text-decoration: solid underline 2px var(--text);
    text-underline-offset: 4px;
}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    z-index: +5;
}

.dialog_shroud {
    display: block;
    width: 100%;
    height: 100%;
    background: var(--background_mono);
    opacity: .7 ;
    position: fixed;
    top: 0;
    left: 0;

}

.search {
    margin-right: 3rem;
    height: 100%;
    aspect-ratio: 1;
    background: none;
    border-radius: 10rem;
    padding: .5rem;
}

.search svg {
    width: 100%;
    height: 100%;
}

.search svg path {
    fill: var(--text);
}

.copy-text {
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.copied-animation {
    animation: copied 400ms ease;
}

.colored_text {
    color: var(--accent);
}

.colored_section {
    background: var(--background_secondary);
}

.colored_section > * {
    color: var(--text);
}

.discover_object {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin: 3rem 0;
    text-decoration: none;
    cursor: not-allowed;
}

.discover_no_image {
    margin: 1rem 0;
}

.discover_object > * {
    border-radius: 1rem;
}

.discover_object img {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.discover_content {
    padding: 1rem;
    background: var(--header);
}

.discover_content > * {
    margin: 5px 0;
}

.discover_content > p {
    color: var(--background_mono);
}

.discover_hidden {
    display: none;
}


.card_container {
    perspective: 25rem;
    width: 10vw;
    aspect-ratio: 9/16;
    margin: 0 1rem;
    border-radius: 1rem;
}

.card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 500ms ease-in 100ms;
    border-radius: 1rem;
}

.card_container:hover > .card, .card_container:focus > .card {
    transform: rotateY(180deg);
}

.card_front, .card_back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
    border-radius: 1rem;
}
.card_front {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}


.card_front > h3 {
    text-align: center;
    text-shadow: var(--mono_back) 2px 2px;
}

.card_back {
    padding: 0 1rem;
    background: var(--background_secondary);
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.card_back > h3 {
    color: var(--text);
    text-align: center;
}

.card_colored {
    background: var(--mono_back);
}

.card_colored > * {
    color: var(--text_inverted);
}

.card_colored > h3 {
    color: var(--theme);
    text-align: center;
}

.card_socials {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    padding-bottom: 1rem;
}

.member_social {
    transition: 400ms;
}

.member_social:hover {
    scale: 1.1;
}
/*.copy-text:hover {*/
/*    animation: copied linear 400ms;*/
/*}*/

@keyframes search_hover {
    0% {rotate: 0}
    50% {rotate: 15deg}
    100% {rotate: 0}
}

@keyframes copied {
    0% {background-color: var(--accent)}
    100% {background-color: var(--mono_back)}
}