@import "main.css";

#media_main {
    position: relative;
    overflow: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#media_main > div {
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

.hero {
    background: rgb(10,10,10); /* Temporary */
    display: flex;
    z-index: -1;

    background: url("../media/club_room_people.jpg");
    background-size: cover;
    background-position: 0 70%;
}

.hero div {
    width: 75%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(10,10,10,.8);
}

#image_title {
    display: none;
    min-width: 100%;
    position: fixed;
    top: calc(var(--navbar_height) + 1rem);
    right: 50%;
    transform: translateX(50%);
    z-index: 5;
    font-size: 2rem;
    color: white;
    background-color: var(--mono_back);
    padding: .5rem 1rem;
    border-bottom: solid 2px var(--text_inverted);
    border-top: solid 2px var(--text_inverted);
    margin: 0;
    border-radius: .5rem;
    text-align: center;
    transition: 500ms;
    opacity: 0;
}

#shroud {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: .7;
    animation: fade_transition;
}

#shroud::before {
    min-width: 85vw;
    background-color: var(--mono_back);
    font-size: 2rem;
    font-weight: bold;
    position: absolute;
    padding: .5rem 1rem;
    border-radius: .5rem;
    color: var(--text_inverted);
    bottom: 7%;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    content: "Press Outside Photo Or Enter To Exit";
}

#enlarged_photo_container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

#enlarged_photo {
    display: none;
    scale: .75;
    max-height: 75vh;
    max-width: 95vw;
    z-index: 2;
    opacity: 0;
    box-shadow: var(--text) 1rem 1rem;
}

#image_controls {
    position: fixed;
    top: calc(var(--navbar_height) + 1rem);
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

#image_controls button {
    background-color: transparent;
    padding: 0;
    margin: 0;
    width: 5rem;
    aspect-ratio: 1;
}

#image_controls button img, #close_enlarged img {
    width: 100%;
}

#close_enlarged {
    background-color: transparent;
    position: fixed;
    top: calc(var(--navbar_height) + 1rem);
    right: 2%;
    z-index: 2;
    width: 5rem;
    aspect-ratio: 1;
    padding: 0;
}

.media_container {
    cursor: pointer;
    width: 22%;
    position: relative;
    aspect-ratio: 7/5;
    margin-bottom: 2rem;
    border-radius: .5rem;
    transition: 400ms;
    overflow: hidden;
}

.media_container:hover {
    scale: 1.02;
}

.media_container:hover::before {
    bottom: 0;
}

.media_container > * {
    margin: 0;
}

.media_container img {
    width: 100%;
}