@import "main.css";

h1 {
    text-align: center;
}

p {
    color: var(--text_inverted);
}

.hero {
    background: url("../media/sponsors.jpg") 50%;
    background-size: cover;
}

#sponsors_main {
    position: relative;
    overflow: initial;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#thank_you, #new_sponsors {
    margin-top: 2rem;
    margin-bottom: 4rem;
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
}

#thank_you > p {
    color: var(--text_inverted);
}

#thank_you img {
    width: 50%;
}

#sponsor_list {
    width: 75%;
}

#sponsor_list > * {
    color: var(--text_inverted);
}

.sponsor_wrapper {
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 1rem 0 5rem;
}

.sponsor_wrapper p {
    color: var(--text_inverted);
}

.sponsor_text {
    max-width: 45%;
    text-align: left;
}

.sponsor_link {
    font-size: 2rem;
    font-weight: bold;
    color: var(--theme);
}

.sponsor_wrapper img {
    max-width: 50%;
}

#sponsorship_packet {
    width: 65%;
    aspect-ratio: 3/4;
}